.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#imgId {
  width: 600px;
  height: 600px;
}

#titleId {
  align-items: center;
  margin-bottom: 10px;
}

.client1 {
  background-color: lightblue;
}

.client2 {
  background-color: lightcoral;
}

.client3 {
  background-color: lightgoldenrodyellow;
}

.title1 {
  color: black;
}

.title2 {
  color: #fff;
}

.title3 {
  color: brown;
}
