@import "~bootstrap/dist/css/bootstrap.css";
@import '~tippy.js/dist/tippy.css';
@import '~tippy.js/themes/light.css';
@import '~tippy.js/animations/scale.css';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
