<div class="container mt-5">
  <form [formGroup]="loginForm" class="login-form">
    <h1 class="mx-auto mb-3">Admin Login</h1>

    <mat-form-field>
      <input
        matInput
        type="text"
        placeholder="Username"
        formControlName="username"
      >
      <mat-error *ngIf="username?.errors?.['required']" >This field is required</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="password"
        placeholder="Password"
        formControlName="password"
      >
      <mat-error>This field is required</mat-error>
    </mat-form-field>

    <button type="submit" class="btn btn-primary mt-2" (click)="onSubmit()">Submit</button>
  </form>
</div>

